/**
 * @file
 * Styling for the Forum module.
 */

#forum .description {
  font-size: 0.9em;
  margin: 0.5em;
}
#forum td.created,
#forum td.posts,
#forum td.topics,
#forum td.last-reply,
#forum td.replies,
#forum td.pager {
  white-space: nowrap;
}

.view-forum-ng .forum-name .icon {
  background-image: url(images/forum-ng-icons.png);
  background-repeat: no-repeat;
  float: right; /* LTR */
  height: 24px;
  margin: 0 9px 0 0; /* LTR */
  width: 24px;
}
.view-forum-ng .forum-name .forum-status-new {
  background-position: -24px 0;
}

.view-forum-ng .forum-ng-indent-1 .views-field-name { padding-left:1.5rem; }
.view-forum-ng .forum-ng-indent-2 .views-field-name { padding-left: 3rem; }
.view-forum-ng .forum-ng-indent-3 .views-field-name { padding-left: 4.5rem; }
.view-forum-ng .forum-ng-indent-4 .views-field-name { padding-left: 6rem; }

.view-forum-ng .forum-ng-indent .views-field-name a {
  position: relative;
  padding-left: 1.25em;
}
.view-forum-ng .forum-ng-indent .views-field-name a:before {
  content: '';
  position: absolute;
  display: block;
  border: 0.125em solid transparent;
  top: -1em;
  left: 0;
  width: 0.5em;
  height: 1.5em;
  border-left-color: #dee2ea;
  border-bottom-color: #dee2ea;
}

.view-forum-ng-topic .topic-title-wrapper div {
  background-image: url(images/forum-ng-icons.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.view-forum-ng-topic .topic-title-wrapper .topic-status-new {
  background-position: -24px 0;
}
.view-forum-ng-topic .topic-title-wrapper .topic-status-hot {
  background-position: -48px 0;
}
.view-forum-ng-topic .topic-title-wrapper .topic-status-hot-new {
  background-position: -72px 0;
}
.view-forum-ng-topic .topic-title-wrapper .topic-status-sticky {
  background-position: -96px 0;
}
.view-forum-ng-topic .topic-title-wrapper .topic-status-closed {
  background-position: -120px 0;
}

.view-forum-ng table tr.even,
.view-forum-ng-topic table tr.even {
  background-color: #F7F7F7;
}

.view-forum-ng .small,
.view-forum-ng-topic .small {
  font-size: .8rem;
}

.forum-ng-submitted img {
  max-width: 35px;
  float: left;
  margin-right: 1rem;
  border-radius: 100%;
}
